AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: LLVM
BinPackArguments: false
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
IndentWidth: 4
Language: Cpp
PointerAlignment: Left
TabWidth: 4
UseTab: Never
